<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="single-service.html">

<dom-module id="servicios-view">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <firebase-query
        id="query"
        path="/mothe/services"
        data="{{services}}">
        </firebase-query>

        <template is="dom-repeat" items={{services}} 
        as=service>
            <single-service on-click="_onSingleServiceClick" options={{service.options}} color={{service.color}} service={{service.name}} duration={{service.duration}}></single-service>
        </template>

    </template>

    <script>
        
        class ServiciosView extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'servicios-view';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

            _onSingleServiceClick(e) {
                var openServiceDetails = new CustomEvent('service-click', {detail: e.model.service.$key})
                // Dispatch the event.
                this.dispatchEvent(openServiceDetails);
            }

        }

        window.customElements.define(ServiciosView.is, ServiciosView);
    </script>
</dom-module>