<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="single-associate.html">

<dom-module id="asociados-view">
    <template>
        <style>
            :host {
                display: block
            }
        </style>

        <firebase-query
        id="query"
        path="/mothe/employees"
        data="{{employees}}">
        </firebase-query>


        <template is="dom-repeat" items={{employees}} 
            as=employee>
            
            <single-associate on-click="_onAssociateClick" thumbnail={{employee.image}} first-name={{employee.firstName}} last-name={{employee.lastName}} phone={{employee.phone}}></single-associate>

        </template>

    </template>

    <script>
        
        class AsociadosView extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'asociados-view';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function() {
                    
                });
            }

            _onAssociateClick(e) {
                console.log('associate click:', e.model.employee.$key);
                
                var openEmployeeDetails = new CustomEvent('associate-click', {detail: e.model.employee.$key})
                // Dispatch the event.
                this.dispatchEvent(openEmployeeDetails);
            }

        }

        window.customElements.define(AsociadosView.is, AsociadosView);
    </script>
</dom-module>